/* estilos del header */

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}
.padre{
    width: 100vw;
    height: 100vh;
    position: relative;

}
.padreenlace{
    width: 100%;
    height: 13%;
    position: fixed;
    top: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(90deg , rgb(4, 4, 243) 0% , rgb(25, 0, 255) 100%);
}
.logo{
    position: absolute;
    left: 10px;
}
.logo h1{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: aliceblue;
}
.menu{
    width: 30px;
    height: 30px;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 7px;
    position: absolute;
    right: 30px;
    cursor: pointer;
}
.menu div{
    width: 100%;
    height: 3px;
    background-color: aliceblue;
    transform-origin: left;
    transition: all .3s linear;
}
.enlace{
    width: 70%;
    height: 13%;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 10px;
    position: fixed;
    top: 0;
    
}
.enlace a{
    position: relative;
    color: aliceblue;
    text-decoration: none;
    font-family: 'Courier New', Courier, monospace;
    padding: 5px 10px;
   
}
.enlace a:hover{
    color: rgb(238, 255, 0);
}

.informacion{
    position: absolute;
    top: 15%;
    width: 50%;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    padding: 25px 25px;
    box-sizing: border-box;
   
}
.informacion h1{
    color: rgb(0, 0, 0);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 3em;
    font-style: italic;
    margin: 0;
}
.informacion h1 span{
    text-decoration-line: underline;
    text-decoration-color: rgb(0, 0, 0);
    text-decoration-style: solid;
    
}
.informacion p{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: italic;
    color: rgb(0, 0, 0);
    text-align: center;
}
.link {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
}
.link img{
    width: 40px;
}
.img_fondo{
    position: absolute;
    right: 5%;
    width: 400px;
    bottom: 3%;
    animation: rotacion  4s 2s linear infinite alternate;
}
@keyframes rotacion{
    0%{
        rotate: 3deg;
    }
    10%{
        rotate: -3deg;
    }
    30%{
        rotate: 3deg;
    }
    50%{
        rotate: -3deg;
    }
    70%{
        rotate: 3deg;
    }
}

/*haciendo el responsive*/

@media (max-width:500px){
    .menu{
        display: flex;
    }
    .enlace{
        right: 0;
        top: 15%;
        width: 0;
        height: 40%;
        background-color: rgb(255, 255, 255);
        overflow: hidden;
        transition: all .3s linear;
        border-bottom-left-radius: 50px;
        border-top-left-radius: 50px;
        box-shadow: 0 0 1px black;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 15px;
    }
    .enlace a{
        color: black;
        font-style: italic;
    }
    .enlace a:hover{
        color: blue;
    }
    .ancho{
        width: 50%;
    }
    .hola div:nth-child(1){
        rotate: 45deg;
    }
    .hola div:nth-child(2){
        opacity: 0;
    }
    .hola div:nth-child(3){
        rotate: -45deg;
    }
    .img_fondo{
        width: 70%;
        right: 20%;
    }
    .informacion{
        width: 100%;
    }
    .informacion h1{
        font-size: 2.4em;
    }
}

@media (min-width:1100px){
    .informacion h1{
        font-size: 4em;
    }
    .informacion p{
        font-size: 1.3em;
    }
    .informacion {
        height: 75%;
    }
}


/* estilos de la seccion "1" */

.seccion1{
    width: 100vw;
    height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.articulo1{
    width: 100%;
    height: 50%;
    display: flex;
    animation: entrada linear;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
    align-items: center;
    justify-content: end;
    background-color: blue;
    position: relative;
}
.articulo2{
    width: 100%;
    height: 50%;
    background-color: pink;
    display: flex;
    align-items: center;
    animation: entrada linear;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
    justify-content: end;
    position: relative;
}
.articulo1 img{
    width: 200px;
    position: absolute;
    right: 300px;
    animation: entrada linear;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
}
.articulo2 img{
    width: 200px;
    position: absolute;
    right: 300px;
    animation: entrada linear;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
}
.contenido{
    width: 250px;
    padding: 20px 20px;
    box-sizing: border-box;
    border-radius: 4px;
    background-color: aliceblue;
    position: absolute;
    top: 50%;
    left: 20%;
    transform: translate(-50%,-50%);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: italic;
    color: black;
    text-align: center;
}


/* haciendo el responsive de la seccion 1*/

@media (max-width:500px){
    .articulo1 img{
        right: 10px;
    }
    .articulo2 img{
        right: 10px;
    }
    .contenido{
        left: 36%;
    }
}

@media (min-width:1100px){
    .articulo1 img{
        width: 350px;
    }
    .articulo2 img{
        width: 350px;
    }
}



/* estilos de la seccion 2*/


.seccion2{
    width: 100vw;
    padding: 150px 0px;
    box-sizing: border-box;
    position: relative;
    display: flex;
    gap: 40px;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.seccion2 .hijo1{
    width: 250px;
    height: 300px;
    border-radius: 5px;
    position: relative;
    box-shadow: 0 0 2px black;
    cursor: pointer;
    transition: all .3s linear;
    overflow: hidden;
    animation: entrada linear;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
}
.seccion2 .hijo1 img{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    border-radius: 5px;
    transition: all .3s linear;
}
.seccion2 .parrafo{
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    top: 0;
}
.seccion2 .parrafo a{
    color: transparent;
    font-size: 2em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: italic;
    transition: all .3s linear;
}
.seccion2 .hijo1:hover .parrafo{
    background: linear-gradient(0deg , rgb(0, 0, 0) 0% , rgba(0, 0, 255, 0) 100%);
}
.seccion2 .hijo1:hover .parrafo a{
    color: aliceblue;
}
.seccion2 .hijo1:hover{
    transform: translateY(-10px);
}
.seccion2 .hijo1:hover img{
    scale: 1.2;
}

/* haciendo el responsive de la seccion 2*/


@media (max-width:500px){
    .seccion2{
        padding: 50px 0px;
    }
}

@media (min-width:1100px){
    .seccion2{
        justify-content: space-evenly;
    }
    .seccion2 .hijo1{
        width: 330px;
        height: 300px;
    }
}


/* estilos de la seccion 3*/



        .seccion3{
            width: 100vw;
            height: 100vh;
            position: relative;
            margin-bottom: 50px;
        }
        .articulo_primero{
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 100%;
        }
        .hijo1{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 50%;
            height: 100%;
            position: relative;
        }
        .hijo1 h1{
            font-size: 2.5em;
            color: black;
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
            animation: entrada linear;
            animation-timeline: view();
            animation-range: entry 0% cover 40%;
        }
        .hijo1 #marca{
            font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            color: black;
            margin-bottom: 0;
            font-style: italic;
            font-size: 1.4em;
            animation: entrada linear;
            animation-timeline: view();
            animation-range: entry 0% cover 40%;
        }
        .hijo1 #modelo{
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            font-style: italic;
            font-size: 1.4em;
            color: black;
            animation: entrada linear;
            animation-timeline: view();
            animation-range: entry 0% cover 40%;
        }
        .padre_color{
            display: flex;
            gap: 15px;
            align-items: center;
            justify-content: center;
        }
        .padre_color div{
            width: 20px;
            height: 20px;
            border-radius: 50%;
            position: relative;
        }
        .padre_color div:nth-child(1){
            background-color: greenyellow;
        }
        .padre_color div:nth-child(2){
            background-color: rgb(255, 182, 47);
        }
        .padre_color div:nth-child(3){
            background-color: rgb(21, 42, 139);
        }
        .padre_color div:nth-child(4){
            background-color: rgb(141, 18, 172);
        }
        .hijo2{
            width:50%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 20px;
            height: 100%;
            position: relative;
          
        }
        .hijo2 img{
            width: 70%;
            animation: entrada linear;
            animation-timeline: view();
            animation-range: entry 0% cover 40%;
        }
        .barra{
            display: flex;
            gap: 10px;
            align-items: center;
            justify-content: center;
        }
        .barra div{
            width: 15px;
            height: 15px;
            border-radius: 50%;
            box-shadow:  0 0 2px black;
            cursor: pointer;
        }

        /* haciendo el responsive de la seccion 3*/

        @media (max-width:500px){
            .hijo1 h1{
                font-size: 1.2em;
                text-align: center;
            }
            .hijo1 #marca{
                font-size: 1em;
            }
            .hijo1 #modelo{
                font-size: 1em;
                margin: 30px 0px;
            }
            .hijo2 img{
                width: 80%;
            }
            .barra{
                gap: 30px;
            }
            .seccion3{
                margin-bottom: 0;
            }
           
           
        }



        /* estilos de la seccion 4*/


        .seccion4{
            width: 100vw;
            height: 100vh;
            position: relative;
            display: flex;
            align-items: center;
            justify-content: space-evenly;

        }
        .seccion4 .caja1{
            width: 50%;
            height: 100%;
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }
        .seccion4 .caja1 p{
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            font-style: italic;
            font-size: 1em;
            animation: entrada linear;
            animation-timeline: view();
            animation-range: entry 0% cover 40%;
        }
        .seccion4 h1{
            text-align: center;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            font-style: italic;
            position: absolute;
            top: 10%;
            animation: entrada linear;
            animation-timeline: view();
            animation-range: entry 0% cover 40%;
        }
        .seccion4 .caja2{
            width: 50%;
            height: 100%;
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .seccion4 .caja2 img{
            width: 70%;
            animation: entrada linear;
            animation-timeline: view();
            animation-range: entry 0% cover 40%;
        }

        /* haciendo el responsive de la seccion 4*/

        @media (max-width:500px){
            .seccion4{
                flex-direction: column;
                justify-content: center;
                align-items: center;
                
            }
            .seccion4 .caja1{
                width: 100%;
                height: 50%;
            }
            .seccion4 .caja2{
                width: 100%;
                height: 20%;
            }
            .seccion4 .caja2 img{
                width: 90%;
            }
            .seccion4 h1{
                top: 20%;
            }
        }