body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

/* estilos de header */

.seccion1{
    width: 100vw;
    height: 100vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(120deg , rgba(55, 55, 248, 1) 0% , 30% , #fff 100%);
}
.articulo1{
    width: 50%;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.articulo1 h1{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-style: italic;
    text-transform: capitalize;
    font-size: 4em;
    margin: 0;
    position: relative;
    bottom: 50px;
}
.articulo1 #modelo{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: italic;
    text-transform: capitalize;
    margin-bottom: 3px;
}
.articulo1 #color{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: italic;
    text-transform: capitalize;
    margin-bottom: 3px;
}
.articulo1 #precio{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: italic;
    text-transform: capitalize;
}
.articulo1 button{
    width: 150px;
    height: 40px;
    border-radius: 15px;
    border-color: transparent;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-style: italic;
    box-shadow: 0 0 2px black;
    font-size: 1.4em;
    cursor: pointer;
    transition: all .3s linear;
    background-color: transparent;
    margin-top: 50px;
}
.articulo1 button:hover{
    scale: 1.1;
}
.articulo2{
    width: 50%;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.padre_img{
    width: 100%;
    height: 50%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.padre_img img{
    width: 90%;
    position: relative;
    mix-blend-mode: multiply;
}
.padre_zapatos{
    width: 100%;
    height: 30%;
    display: flex;
    gap: 30px;
    overflow: hidden;
    overflow-x: scroll;
    margin-top: 50px;
}
.padre_zapatos img{
    mix-blend-mode: multiply;
    cursor: pointer;
    transition: all .3s linear;
    position: relative;
}
.hola{
    scale: 1.2;
    transition: all .3s linear;
    transform: translateY(-15px);
}

.padre_botom{
    width: 100%;
    height: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
}
.padre_botom div{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    box-shadow: 0 0 1px black;
}


/* haciendo el responsive de la seccion 1*/

@media (max-width:500px){
    .seccion1{
        align-items: start;
    }
    .articulo1{
        height: 70%;
    }
    .articulo1 h1{
        font-size: 2em;
    }
    .articulo2{
        height: 70%;
        position: static;
    }
    .padre_zapatos{
        position: absolute;
        bottom: 4%;
        width: 100%;
        height: 30%;
        overflow: hidden;
        overflow-x: scroll;
        display: flex;
        align-items: center;
       
        left: 0;
    }
    .padre_img img{
        width: 100%;
    }

}

